<title>Catalog</title>
<link rel="stylesheet" href="/style/catalog.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="icon" href="../src/favicon.ico" type="image/x-icon">
<link
    href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Fira+Code:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
    rel="stylesheet">

<div class="nav">
    <a href="./map"><button><img id="back" src="../src/svg/system/backarrow.svg" alt="<-"></button></a>
    <button id="allsearch">All</button>
    <input id="searchtext" placeholder="Name of country/capital" type="text">
    <button id="filters"><img src="../src/svg/system/filters.svg" alt=""></button>
    <button id="searchbutton"><img src="../src/svg/system/search.svg" alt=""></button>
    <p id="count"></p>
    <div class="filter">
        <button id="closing"><img src="../src/svg/system/close.svg" alt=""></button>

        {{#each inputSections}}
            <p>{{title}}</p>
            <span>
                <p>Max</p><input id="{{maxId}}" placeholder="max value" type="number">
            </span>
            <span>
                <p>Min</p><input id="{{minId}}" placeholder="min value" type="number">
            </span>
        {{/each}}

        <p>Wind direction</p>
        <select name="Wind_direction" id="Wind_direction">
            <option value="all">All</option>
            <option value="East">East</option>
            <option value="North">North</option>
            <option value="Northeast">Northeast</option>
            <option value="Northwest">Northwest</option>
            <option value="South">South</option>
            <option value="Southeast">Southeast</option>
            <option value="Southwest">Southwest</option>
            <option value="West">West</option>
        </select>

        <p>Weather</p>
        {{#each weatherItems}}
            <span>
                <input type="checkbox" id="{{this}}"><label for="{{this}}">{{this}}</label>
            </span>
        {{/each}}

        <button id="accept">Accept</button>
    </div>
</div>

<div id="catalogitems"><img src="../src/loading.gif" id="load" alt=""></div>
<script src="/script/catalog.js"></script>
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!1
{
    inputSections: [
        { title: 'Temperature', maxId: 'maxtemp', minId: 'mintemp' },
        { title: 'Feels like temperature', maxId: 'maxfeelstem', minId: 'minfeelstem' },
        { title: 'Humidity', maxId: 'maxhumidity', minId: 'minhumidity' },
        { title: 'Wind speed', maxId: 'maxwind', minId: 'minwind' }
    ],
    weatherItems: [
        'Clear', 'Cloudy', 'Fog', 'Haze', 'Heavy_t-storms', 'Light_rain_and_snow',
        'Light_rain', 'Light_snow', 'Mostly_clear', 'Mostly_cloudy', 'Mostly_sunny',
        'Partly_cloudy', 'Partly_sunny', 'Rain_and_snow_showers', 'Rain_showers', 'Rain',
        'Smoke', 'Snow_showers', 'Sunny'
    ]
}
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
